apiVersion: apps/v1
kind: Deployment
metadata:
  name: hms-patient-service-deployment
  labels:
    app: patient-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: patient-ms
  template:
    metadata:
      labels:
        app: patient-ms
    spec:
      containers:
        - name: patient-ms
          image: ghcr.io/kalyanimuppidi01/hms-patient:latest
          ports:
            - containerPort: 8081
          livenessProbe:
            httpGet:
              path: /swagger-ui/index.html
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /swagger-ui/index.html
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "256Mi"
              cpu: "250m"